/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
    display: none;
  }
  
/* Hide scrollbar for IE, Edge, and Firefox */
.App {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.CenteredImage {
    max-width: 80%;
    max-height: 80%;
}

.DownloadLink {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7%;
}

.DownloadImage {
    width: 10vw;
}  